.Container {
  max-width: $base-unit * 114;
  margin-right: auto;
  margin-left: auto;
  padding-top: $base-unit * 4;
  padding-right: $base-unit;
  padding-left: $base-unit;
  padding-bottom: $base-unit * 4;
  @media (min-width: $breakpoint-sm) {
    padding-top: $base-unit * 4;
    padding-bottom: $base-unit * 4;
  }
  @media (max-width: $breakpoint-md - .0625em) {
    padding-right: $base-unit * 2;
    padding-left: $base-unit * 2;
  }
  @media (min-width: $breakpoint-md) {
    padding-top: $base-unit * 6;
    padding-bottom: $base-unit * 6;
  }
  p {
    margin-bottom: $base-unit;
    color: $accent-3;
    font-size: $caption-font-size;
    line-height: $caption-line-height;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: $breakpoint-sm) {
      font-size: $body-font-size;
      line-height: $body-line-height;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}