.Container {
  p {
    margin-bottom: $base-unit * 2;
    color: $accent-3;
    font-size: $caption-font-size;
    line-height: $caption-line-height;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: $breakpoint-sm) {
      font-size: $body-font-size;
      line-height: $body-line-height;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}