.Container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @media (min-width: $breakpoint-sm){
    max-width: 38.75rem;
  }
}

.Disclaimer {
  margin-top: $base-unit * 12;
  color: $accent-3;
  font-size: $body-font-size;
  line-height: $body-line-height;
  text-align: center;
  text-transform: uppercase;
}