$iron: #e3e3e4;

.Progress {
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: $base-unit * 4;
  margin-bottom: $base-unit * 3;
  height: $base-unit * 2;
  @media (min-width: $breakpoint-sm) {
    margin-top: $base-unit * 7;
    margin-bottom: $base-unit * 5;
  }
  &::before {
    position: absolute;
    height: $base-unit / 4;
    width: 100%;
    background-color: $iron;
    content: '';
  }
  &_Milestone {
    justify-content: center;
    align-items: center;
    display: flex;
    width: $base-unit * 2;
    height: $base-unit * 2;
    border-radius: 100%;
    z-index: 1;
    &___Active {
      border: $base-unit / 4 solid $secondary;
      background-color: $white;
      &::before {
        display: block;
        width: $base-unit;
        height: $base-unit;
        background-color: $secondary;
        border-radius: 100%;
        content: '';
      }
    }
    &___HandlerAttached {
      cursor: pointer;
    }
    &___Inactive {
      border: $base-unit / 4 solid $iron;
      background-color: $white;
    }
    &___Visited {
      border: $base-unit / 2 solid $white;
      width: $base-unit * 2;
      height: $base-unit * 2;
      background-color: $secondary;
    }
  }
}