.SmallButton {
  display: block;
  padding-top: $base-unit;
  padding-right: $base-unit * 3;
  padding-bottom: $base-unit;
  padding-left: $base-unit * 3;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: $title-font-size;
  line-height: $title-line-height;
  background-color: $secondary;
  border-radius: 99rem;
  box-shadow: $shadow-level-3;
  cursor: pointer;
  outline: 0;
  &___Centred {
    margin-right: auto;
    margin-left: auto;
  }
}