.Buttons {
  justify-content: center;
  display: flex;
  button {
    &:first-of-type {
      margin-right: $base-unit;
      @media (min-width: $breakpoint-sm) {
        margin-right: $base-unit * 2;
      }
    }
  }
}