max-width: 240px;
  margin-left: auto;

.InPartnershipCallout {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-bottom: $base-unit * 2;
    text-align: center;
  }
  @media (min-width: $breakpoint-sm) {
    margin-top: $base-unit * 6;
    margin-right: 0;
    margin-bottom: $base-unit * 3;
  }
  @media (min-width: $breakpoint-md) {
    margin-top: $base-unit * 4;
    margin-bottom: $base-unit * 4;
  }
}

.InPartnershipCallout_Legend_Wrapper {
  @media (max-width: $breakpoint-sm - .0625em) {
    text-align: center
  }
  @media (min-width: $breakpoint-sm) {
    text-align: right;
  }
}

.InPartnershipCallout_Legend {
  margin-bottom: $base-unit;
  font-size: $small-font-size;
  font-weight: 700;
  line-height: $small-line-height;
  &:before {
    content: 'in partnership with';
  }
  @media (max-width: $breakpoint-md - .0625em) {
    display: inline-block;
    padding-top: $base-unit / 2;
    padding-right: $base-unit;
    padding-bottom: $base-unit / 2;
    padding-left: $base-unit;
    color: $white;
    background-color: $white-lighter;
    border-radius: 99rem;
  }
  @media (min-width: $breakpoint-sm) {
    color: $secondary;
  }
}

.InPartnershipCallout_Logo {
  display: block;
  margin-left: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-right: auto;
  }
}

.InPartnershipCallout_LogoContainer {
  position: relative;
  @media (max-width: $breakpoint-sm - .0625em) {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding-top: $base-unit;
    padding-right: $base-unit * 3;
    padding-bottom: $base-unit;
    padding-left: $base-unit * 3;
    max-height: $base-unit * 8;
    height: $base-unit * 8;
    background-color: $white;
    border-radius: 99rem
  }
  @media (min-width: $breakpoint-sm) {
    height: $base-unit * 12;
    max-width: $base-unit * 30;
    margin-left: auto;
  }
}