.Heading {
  margin-top: 0;
  margin-bottom: $base-unit * 2;
  color: inherit;
  font-family: "Quicksand", sans-serif;
  font-size: $headline-font-size;
  line-height: $headline-line-height;
  font-weight: 700;
}