body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

a {
  color: $secondary;
}

button {
  border: 0;
}

h3 {
  margin-top: $base-unit * 4;
  margin-bottom: $base-unit * 2;
  font-size: $title-font-size;
  line-height: $title-line-height;
  font-weight: 600;
  color: $secondary;
}

h4 {
  margin-top: $base-unit * 2;
  margin-bottom: $base-unit * 1;
  font-size: $subheader-font-size;
  line-height: $subheader-line-height;
  font-weight: 500;
  color: $secondary;
}

strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}