body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

a {
  color: $secondary;
}

button {
  border: 0;
}

h3 {
  margin-top: $base-unit * 4;
  margin-bottom: $base-unit * 2;
  font-size: $title-font-size;
  line-height: $title-line-height;
  font-weight: 500;
}

strong {
  font-weight: 700;
}