.Iphone {
  flex: none;
  width: 12.75rem;
  height: 24.75rem;
  background-image: url('./images/iphone.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1.5625rem;
}