.Heading {
  margin-right: auto;
  margin-bottom: $base-unit * 2;
  margin-left: auto;
  color: $white;
  font-family: 'Quicksand', sans-serif;
  font-size: $title-font-size;
  line-height: $title-line-height;
  font-weight: 700;
  text-align: center;
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-right: $base-unit;
    padding-left: $base-unit;
    margin-bottom: $base-unit * 4;
    letter-spacing: -.75px;
  }
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 4;
    max-width: 35.375rem;
    color: $secondary;
    font-size: $headline-font-size;
    line-height: $headline-line-height;
  }
}