.Container {
  display: flex;
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-bottom: $base-unit * 4;
  }
}

.Star {
  margin-right: .875rem;
  width: $base-unit * 2;
  height: $base-unit * 2;
  background-image: url('./images/star.svg');
  &:last-of-type {
    margin-right: $base-unit * 2;
  }
}

.Score {
  align-items: center;
  display: flex;
  color: $white;
  font-size: $body-font-size;
  line-height: 100%;
}