.Sliders {
  margin-bottom: $base-unit * 5;
  .Slider {
    margin-bottom: $base-unit * 2;
    @media (min-width: $breakpoint-sm) {
      margin-bottom: $base-unit * 4;
    }
  }
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 8;
    padding-right: $base-unit * 5;
    padding-left: $base-unit * 5;
  }
}

.Slider {
  display: flex;
  flex-direction: column;
  &_Input {
    display: flex;
    align-items: center;
    width: 100%;
    height: $base-unit * 4;
    margin-right: $base-unit * 2;
    @media (min-width: $breakpoint-sm) {
      height: $base-unit * 5;
      margin-right: $base-unit * 4;
    }
  }
  &_Heading {
    margin-bottom: $base-unit;
    color: $accent-3;
    font-size: $caption-font-size;
    font-weight: 700;
    line-height: $caption-line-height;
    font-family: 'Quicksand', sans-serif;
    @media (min-width: $breakpoint-sm) {
      font-size: $subheader-font-size;
      line-height: $subheader-line-height;
    }
    &___Allocation {
      margin-bottom: $base-unit * 3;
    }
  }
  &_Thumb {
    width: $base-unit * 3;
    height: $base-unit * 3;
    background: $secondary;
    border: $base-unit / 4 solid $white;
    box-shadow: $shadow-level-1;
    border-radius: 100%;
    cursor: pointer;
    outline: 0;
    @media (min-width: $breakpoint-sm) {
      width: $base-unit * 4;
      height: $base-unit * 4;
      border: $base-unit / 2 solid $white;
    }
  }
  &_Track {
    height: $base-unit / 2;
    background: #d2d3d2;
    border-radius: 99rem;
    @media (min-width: $breakpoint-sm) {
      height: $base-unit;
    }
  }
  &_Feedback {
    padding-top: $base-unit;
    padding-right: $base-unit;
    padding-bottom: $base-unit;
    padding-left: $base-unit;
    width: $base-unit * 12;
    color: $accent-3;
    background-color: $accent-3-lighter;
    font-size: $caption-font-size;
    font-weight: 700;
    line-height: $caption-line-height;
    border-radius: 99rem;
    text-align: center;
    white-space: nowrap;
    @media (min-width: $breakpoint-sm) {
      width: $base-unit * 14;
      font-size: $subheader-font-size;
      line-height: $subheader-line-height;
    }
    &___RoundUp {
      margin-left: auto;
    }
  }
  &_InputAndFeedbackWrapper {
    display: flex;
    &___Top {
      margin-bottom: $base-unit * 2;
    }
  }
}

.AllocationHeader_Icon {
  width: $base-unit * 2;
  height: $base-unit * 2;
}

.AllocationHeader {
  margin-bottom: $base-unit;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  &_Label {
    top: .625rem;
    position: relative;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    color: $primary;
    font-size: $caption-font-size;
    font-weight: 700;
    line-height: $caption-line-height;
    font-family: 'Quicksand', sans-serif;
    @media (min-width: $breakpoint-sm) {
      font-size: $body-font-size;
      line-height: $body-line-height;
    }
    &:last-of-type {
      align-items: flex-end;
    }
  }
}