.Heading {
  margin-top: 0;
  margin-bottom: $base-unit * 4;
  font-size: $body-font-size;
  font-weight: 700;
  line-height: $body-line-height;
  font-family: 'Quicksand', sans-serif;
  color: $secondary;
  text-align: center;
  @media (min-width: $breakpoint-sm) {
    font-size: $title-font-size;
    line-height: $title-line-height;
  }
}

.Footnotes {
  margin-top: $base-unit * 7;
  margin-right: auto;
  margin-left: auto;
  max-width: 33.75rem;
  text-align: center;
  @media (min-width: $breakpoint-sm) {
    margin-top: $base-unit * 10;
  }
  &_Footnote {
    margin-bottom: $base-unit;
    font-size: $caption-font-size;
    line-height: $caption-line-height;
    @media (min-width: $breakpoint-sm) {
      margin-bottom: $base-unit / 2;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}