.Heading {
  margin-top: 0;
  margin-bottom: $base-unit * 4;
  font-size: $body-font-size;
  font-weight: 700;
  line-height: $body-line-height;
  font-family: 'Quicksand', sans-serif;
  color: $secondary;
  text-align: center;
  @media (min-width: $breakpoint-sm) {
    font-size: $title-font-size;
    line-height: $title-line-height;
  }
}

.KeyHeading {
  margin-bottom: $base-unit * 2;
  display: inline-block;
  padding-top: $base-unit;
  padding-right: $base-unit * 2;
  padding-bottom: $base-unit;
  padding-left: $base-unit * 2;
  border: 1px solid $secondary;
  border-radius: 4rem;
}

.Footnotes {
  margin-top: $base-unit * 7;
  margin-right: auto;
  margin-left: auto;
  max-width: 33.75rem;
  text-align: center;
  @media (min-width: $breakpoint-sm) {
    margin-top: $base-unit * 10;
  }
  &_Footnote {
    margin-bottom: $base-unit;
    font-size: $caption-font-size;
    line-height: $caption-line-height;
    @media (min-width: $breakpoint-sm) {
      margin-bottom: $base-unit / 2;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.Recalculate {
  margin-bottom: $base-unit * 4;
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.CentreInlined {
  text-align: center;
}

.CtaButton {
  margin-bottom: $base-unit * 3;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 5;
  }
}