.Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-right: $base-unit * 2;
    padding-left: $base-unit * 2;
    flex-direction: column;
  }
  @media (min-width: $breakpoint-sm) {
    padding-bottom: $base-unit * 7;
  }
}

.Heading {
  margin-bottom: $base-unit * 4;
  color: $secondary;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: $title-font-size;
  line-height: $title-line-height;
  @media (min-width: $breakpoint-sm) {
    margin-top: -$base-unit * 4;
    margin-bottom: $base-unit * 5;
    font-size: $headline-font-size;
    line-height: $headline-line-height;
  }
  @media (min-width: $breakpoint-md) {
    margin-top: -$base-unit * 5;
  }
}