.QuoteContainer {
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-left: -$base-unit * 2;
    margin-right: -$base-unit * 2;
    padding-top: $base-unit * 4;
    padding-right: $base-unit * 2;
    padding-left: $base-unit * 2;
    margin-bottom: $base-unit * 5;
    background-image: url('./images/leaves.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 48rem 46.125rem;
  }
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - .0625em) {
    min-height: $base-unit * 31;
    position: relative;
    display: flex;
    padding-top: $base-unit * 5;
    padding-bottom: $base-unit * 11;
  }
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - .0625em) {
    margin-left: auto;
    max-width: 51.25rem;
  }
  @media (min-width: $breakpoint-md) {
    min-height: 11.625rem;
    padding-top: $base-unit * 6;
    padding-bottom: $base-unit * 6;
  }
}

.Inner {
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-bottom: $base-unit * 4;
  }
  @media (min-width: $breakpoint-sm) {
    display: flex;
  }
}

.Quote {
  color: $accent-3;
  font-size: $subheader-font-size;
  line-height: $subheader-line-height;
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-top: $base-unit * 3;
    margin-bottom: $base-unit * 2;
    text-align: center;
  }
  @media (min-width: $breakpoint-sm) {
    padding-right: $base-unit * 3.5;
  }
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - .0625em) {
    padding-left: 17.875rem;
  }
  @media (min-width: $breakpoint-md) {
    font-size: $title-font-size;
    line-height: $title-line-height;
  }
}

.Iphone {
  margin-bottom: $base-unit * 7;
  display: flex;
  justify-content: center;
  @media (min-width: $breakpoint-sm) {
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translate(4.5rem, 1rem) rotate(32deg);
  }
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

.Speechmark {
  flex-shrink: 0;
  width: 2.375rem;
  height: $base-unit * 3;
  background-image: url('./images/speechmark.svg');
  background-repeat: no-repeat;
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-right: auto;
    margin-left: auto;
  }
}

.Speechmark__MobileOnly {
  transform: scaleX(-1);
  @media (min-width: $breakpoint-sm) {
    display: none;
  }
}