.SignUp {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-bottom: $base-unit * 5;
  padding-top: $base-unit * 4;
  padding-bottom: $base-unit * 6;
  width: 100%;
  background-color: $primary;
  text-align: center;
  color: $white;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 8;
    padding-top: $base-unit * 7;
    padding-bottom: $base-unit * 8;
  }
  &_Inner {
    margin: 0 auto;
    @media (max-width: $breakpoint-sm - .0625em) {
      padding-right: $base-unit * 2;
      padding-left: $base-unit * 2;
    }
    @media (min-width: $breakpoint-sm) {
      width: 38.75rem;
    }
  }
  &_Heading {
    margin-bottom: $base-unit * 2;
    color: $white;
    font-weight: 700;
    font-size: $title-font-size;
    line-height: $title-line-height;
    font-family: 'Quicksand', sans-serif;
    @media (min-width: $breakpoint-sm) {
      margin-bottom: $base-unit * 4;
      font-size: $headline-font-size;
      line-height: $headline-line-height;
    }
  }
  &_Subheading {
    margin-bottom: $base-unit * 3;
    text-align: center;
    font-size: $body-font-size;
    line-height: $body-line-height;
    @media (min-width: $breakpoint-sm) {
      margin-bottom: $base-unit * 4;
      font-size: $subheader-font-size;
      line-height: $subheader-line-height;
    }
    &_Break {
      @media (max-width: $breakpoint-sm - .0625em) {
        display: none;
      }
    }
  }
  &_NotaBene {
    font-size: $caption-font-size;
    line-height: $caption-line-height;
  }
}

.Badges {
  display: inline-flex;
  margin-bottom: $base-unit * 5;
  padding: $base-unit * 2;
  background-color: $white-lighter;
  border-radius: $base-unit;
  @media (max-width: $breakpoint-sm - .0625em) {
    flex-direction: column;
  }
  @media (min-width: $breakpoint-sm) {
    padding: $base-unit * 3;
    margin-bottom: $base-unit * 11;
  }
  &_Badge {
    @media (max-width: $breakpoint-sm - .0625em) {
      &:first-of-type {
        margin-bottom: $base-unit * 2;
      }
    }
    @media (min-width: $breakpoint-sm) {
      &:first-of-type {
        margin-right: .75rem;
      }
      &:last-of-type {
        margin-left: .75rem;
      }
    }
    &_Image {
      display: block;
    }
  }
}

.Form {
  &_VisibleInputs {
    display: flex;
    margin-bottom: $base-unit * 3;
    @media (max-width: $breakpoint-sm - .0625em) {
      flex-direction: column;
    }
    @media (min-width: $breakpoint-sm) {
      margin-bottom: $base-unit * 5;
    }
  }
  &_Input {
    width: 100%;
    padding-top: .875rem;
    padding-right: $base-unit * 2;
    padding-bottom: .875rem;
    padding-left: .875rem;
    margin: 0; // Solves iOS extra margin-top
    margin-bottom: 0;
    border-radius: $base-unit;
    background-color: $white;
    box-shadow: $shadow-level-3;
    font-size: $body-font-size;
    line-height: $body-line-height;
    &_Error {
      right: .75rem;
      position: absolute;
      width: $base-unit * 3;
      height: $base-unit * 3;
      background-image: url('./images/error-icon.svg');
    }
    &_Wrapper {
      align-items: center;
      display: flex;
      position: relative;
      width: 100%;
      @media (max-width: $breakpoint-sm - .0625em) {
        &:first-of-type {
          margin-bottom: $base-unit * 2;
        }
      }
      @media (min-width: $breakpoint-sm) {
        &:first-of-type {
          margin-right: $base-unit * 2;
        }
        &:last-of-type {
          margin-left: $base-unit * 2;
        }
      }
    }
  }
  &_Submit {
    padding-top: $base-unit * 2;
    padding-right: $base-unit * 4;
    padding-bottom: $base-unit * 2;
    padding-left: $base-unit * 4;
    margin-bottom: $base-unit * 5;
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: $subheader-font-size;
    line-height: $subheader-line-height;
    background-color: $secondary;
    box-shadow: $shadow-level-3;
    border-radius: 99rem;
    cursor: pointer;
    -webkit-appearance: none;
    transition: transform .2s, box-shadow .2s, background-color .2s;
    @media (min-width: $breakpoint-sm) {
      margin-bottom: $base-unit * 7;
    }
    &:hover {
      background-color: lighten($secondary, 5%);
      transform: translateY(-$base-unit / 4);
      box-shadow: $shadow-level-4;
    }
    &:active {
      background-color: darken($secondary, 2%);
      transform: translateY(0);
      box-shadow: $shadow-level-1;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}

.Content {
  margin: 0 auto;
  @media (min-width: $breakpoint-md) {
    width: $base-unit * 114;
  }
  &_Heading {
    margin-top: 0;
    margin-bottom: $base-unit * 4;
    color: $secondary;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: $title-font-size;
    line-height: $title-line-height;
    text-align: center;
    @media (max-width: $breakpoint-sm - .0625em) {
      padding-right: $base-unit;
      padding-left: $base-unit;
    }
    @media (min-width: $breakpoint-sm) {
      margin-bottom: $base-unit * 7;
      &:last-of-type {
        margin-bottom: $base-unit * 9;
      }
    }
    &_Break {
      @media (max-width: $breakpoint-sm - .0625em) {
        display: none;
      }
    }
  }
}