
.Main_wrapper {
  flex-grow: 1;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: $breakpoint-sm - .0625em) {
    overflow-x: hidden;
  }
  @media (max-width: $breakpoint-md - .0625em) {
    width: 100%;
  }
  @media (min-width: $breakpoint-sm) {
    padding-right: $base-unit * 2;
    padding-left: $base-unit * 2;
  }
  @media (min-width: $breakpoint-md) {
    width: $base-unit * 118;
  }
}

.Main {
  position: relative;
  width: 100%;
  font-size: $body-font-size;
  line-height: $body-line-height;
  border-radius: $base-unit * 4 $base-unit * 4 0 0;
  background-color: $white;
  color: $black-light;
  //overflow: hidden;
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-bottom: $base-unit * 5;
  }
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - .0625em)  {
    padding-bottom: $base-unit * 8;
  }
  @media (min-width: $breakpoint-md) {
    padding-bottom: $base-unit * 12;
  }
}

.Main___mediaPage {
  padding-top: $base-unit * 3;
  padding-right: $base-unit * 3;
  padding-left: $base-unit * 3;
  margin-top: -$base-unit * 4;
  @media (min-width: $breakpoint-sm) {
    padding: $base-unit * 3;
  }
  @media (min-width: $breakpoint-md) {
    padding: $base-unit * 4;
    font-size: $subheader-font-size;
    line-height: $subheader-line-height;
  }
}

.Main___plainPage {
  border-radius: 0;
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-right: $base-unit * 2;
    padding-left: $base-unit * 2;
  }
  @media (min-width: $breakpoint-sm) {
    //width: $base-unit * 80;
    width: 100%;
  }
}

.Main___article {
  padding-top: $base-unit * 3;
  padding-bottom: $base-unit * 3;
  @media (max-width: $breakpoint-md - .0625em) {
    padding-right: $base-unit * 2;
    padding-left: $base-unit * 2;
  }
  @media (min-width: $breakpoint-md) {
    padding-top: $base-unit * 8;
  }
}

