.SmallPrint {
  margin-top: $base-unit * 3;
  margin-bottom: $base-unit * 5;
  color: $accent-3;
  font-size: $small-font-size;
  line-height: $small-line-height;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $breakpoint-sm) {
    margin-top: $base-unit * 9;
  }
  @media (min-width: $breakpoint-md) {
    margin-top: $base-unit * 8;
  }
}