.Iphone_wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 17.1875rem;
  height: 34.6875rem;
}

.Iphone {
  transform: scale(0.66675);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 34.5625rem;
  width: 16.6875rem;
  background-color: $white;
  border-radius: 2.375rem;
  box-shadow: 0 .3125rem .625rem 0 rgba(65,117,5,0.2), 
              0 .0625rem .1875rem 0 rgba(0,21,64,0.56), 
              inset 0 -0.15625rem .625rem 0 rgba(173,186,204,1), 
              inset 0 .125rem .21875rem .03125rem $white;
}



.Iphone_inner {
  height: 28.8125rem;
  width: 15.8125rem;
  display: flex;
  justify-content: center;
  background-color: $white;
  background-size: cover;
  overflow: hidden;
}