.Iphone_screenshot___roundUps {
  background-image: url('../../images/screenshots/round-ups.png');
}

.Iphone {
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $breakpoint-sm - .0625em) {
    margin-right: 0;
    margin-left: auto;
  }
}