.CaseStudy {
  position: relative;
  &:before,
  &:after {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
  }
  &:before {
    left: -100%;
  }
  &:after {
    right: -100%;
  }
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-top: $base-unit * 3;
    padding-bottom: $base-unit * 3;
  }
  @media (min-width: $breakpoint-sm) {
    padding-top: $base-unit * 3;
    padding-bottom: $base-unit * 3;
    display: flex;
  }
  @media (min-width: $breakpoint-md) {
    padding-top: $base-unit * 4;
    padding-bottom: $base-unit * 4;
  }
  iframe,
  img {
    @media (min-width: $breakpoint-sm) {
      margin-right: $base-unit * 3;
    }
  }
}

.WhiteBackground {
  color: $accent-3;
  background-color: $white;
}

.PrimaryBackground {
  color: $white;
  background-color: $primary;
  &:before {
    background-color: $primary;
  }
  &:after {
    background-color: $primary;
  }
}

.SecondaryBackground {
  color: $white;
  background-color: $secondary;
  &:before {
    background-color: $secondary;
  }
  &:after {
    background-color: $secondary;
  }
}

.RightToLeft {
  flex-direction: row-reverse;
  @media (min-width: $breakpoint-sm) {
    iframe,
    img {
      margin-right: 0
    }
    div {
      margin-right: $base-unit * 3;
    }
  }
}