.CaseStudy {
  position: relative;
  &:before,
  &:after {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
  }
  &:before {
    left: -100%;
  }
  &:after {
    right: -100%;
  }
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-top: $base-unit * 3;
    padding-bottom: $base-unit * 3;
  }
  @media (min-width: $breakpoint-sm) {
    padding-top: $base-unit * 2;
    padding-bottom: $base-unit * 2;
    display: flex;
  }
}

.WhiteBackground {
  color: $accent-3;
  background-color: $white;
}

.PrimaryBackground {
  color: $white;
  background-color: $primary;
  &:before {
    background-color: $primary;
  }
  &:after {
    background-color: $primary;
  }
}

.SecondaryBackground {
  color: $white;
  background-color: $secondary;
  &:before {
    background-color: $secondary;
  }
  &:after {
    background-color: $secondary;
  }
}

.RightToLeft {

}