.Background {
  background: $primary;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 8;
  }
}

.Container {
  position: relative;
  padding-top: $base-unit * 4;
  //padding-bottom: $base-unit * 4;
  @media (min-width: $breakpoint-sm) {
    padding-top: $base-unit * 6;
    padding-bottom: $base-unit * 6;
  }
  @media (min-width: $breakpoint-md) {
    padding-bottom: $base-unit * 7;
  }
}

.Container_Inner {
  margin-right: auto;
  margin-left: auto;
  max-width: $base-unit * 114;
  @media (min-width: $breakpoint-sm) {
    display: flex;
  }
}

.Column {
  flex-basis: percentage(2/3);
  @media (min-width: $breakpoint-sm) {
    flex-basis: 70%
  }
  &:first-of-type {
    flex-basis: percentage(1/3);
    @media (max-width: $breakpoint-sm - .0625em) {
      display: none;
    }
    @media (min-width: $breakpoint-sm) {
      flex-basis: 30%
    }
  }
  @media (max-width: $breakpoint-sm - .0625em) {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

.Iphone {
  transform: rotate(-8deg) translateY(-1rem);
  @media (min-width: $breakpoint-sm) {
    transform: rotate(-8deg) translateY(-1rem) translateX(-4rem);
  }
  @media (min-width: $breakpoint-md) {
    transform: rotate(-8deg) translateY(-1rem);
  }
}

.DecorativeSectionJoin {
  height: $base-unit * 3;
  div {
    margin: 0;
  }
}

.Cut_Overlay {
  bottom: $base-unit * 3;
  left: 0;
  position: absolute;
  width: 30.375rem;
  height: 30rem;
  background-image: url('./images/cut-opaque-overlay.png');
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: $breakpoint-sm) {
    bottom: 0;
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
  }
}

.Cut_Mask {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: $base-unit * 180;
  overflow: hidden;
  @media (min-width: $breakpoint-md) {
    height: $base-unit * 60;
  }
  @media (min-width: 140rem) {
    border-radius: 0 0 2rem 2rem;
  }
}