.AppBadges {
  padding-top: $base-unit * 3;
  padding-bottom: $base-unit * 3;
  text-align: center;
  @media (min-width: $breakpoint-sm) {
    padding-top: $base-unit * 6;
    padding-bottom: $base-unit * 6;
  }
}

.AppBadges_Inner {
  display: inline-flex;
  a:first-of-type {
    .AppBadges_Badge {
      margin-right: $base-unit * 2;
    }
  }
}

.AppBadges_Badge {
  display: block;
  @media (max-width: $breakpoint-sm - .0625em) {
    width: 100%;
    max-width: 10.125rem;
    height: auto;
  }
}