.Iphone_wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 17.1875rem;
  height: 34.6875rem;
}

.Iphone_wrapper___space {
  
}

.Iphone {
  transform: scale(0.66675);
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 51.22888rem;
  width: 24.73438rem;
  background-color: $white;
  border-radius: 3.52025rem;
  box-shadow: 0 .3125rem .625rem 0 rgba(65,117,5,0.05), 
              0 .0625rem .1875rem 0 rgba(0,21,64,0.14), 
              inset 0 -0.15625rem .625rem 0 rgba(173,186,204,0.25), 
              inset 0 .125rem .21875rem .03125rem $white;
}

.Iphone_inner {
  height: 41.6875rem;
  width: 23.4375rem;
  display: flex;
  justify-content: center;
  background-color: $white;
  background-size: cover;
  overflow: hidden;
}