.Heading {
  color: $secondary;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-align: center;
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-bottom: $base-unit * 5;
    font-size: $subheader-font-size;
    line-height: $subheader-line-height;
  }
  @media (min-width: $breakpoint-sm) {
    margin-right: $base-unit * 5;
    margin-bottom: $base-unit * 9;
    margin-left: $base-unit * 5;
    font-size: $headline-font-size;
    line-height: $headline-line-height;
  }
}