.Heading {
  color: $secondary;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-bottom: $base-unit * 3;
    font-size: $subheader-font-size;
    line-height: $subheader-line-height;
  }
  @media (min-width: $breakpoint-sm) {
    text-align: center;
    margin-bottom: $base-unit * 4;
    font-size: $headline-font-size;
    line-height: $headline-line-height;
  }
}

.SuperHeader {
  margin-top: $base-unit * 4;
  margin-bottom: $base-unit * 4;
  @media (min-width: $breakpoint-sm) {
    margin-top: $base-unit * 7;
    margin-bottom: $base-unit * 8;
  }
  p {
    margin-bottom: $base-unit * 2;
  }
}

.SuperHeading {
  margin-bottom: $base-unit * 2;
  color: $accent-3;
  font-family: 'Quicksand', sans-serif;
  font-size: $title-font-size;
  line-height: $title-line-height;
  font-weight: 700;
  color: $primary;
  @media (min-width: $breakpoint-sm) {
    text-align: center;
    margin-bottom: $base-unit * 3;
    font-size: $display-font-size;
    line-height: $display-line-height;
  }
}

.SubSuperHeading {
  font-size: $body-font-size;
  line-height: $body-line-height;
  @media (min-width: $breakpoint-sm) {
    font-size: $title-font-size;
    line-height: $title-line-height;
  }
}

.Badges {
  margin-top: $base-unit * 4;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 6;
  }
}