.WaitingList_wrapper {
  width: 100%;
  @media (min-width: $breakpoint-md) {
    width: 50%;
  }
}

.WaitingList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.WaitingList_input {
  height: $base-unit * 6;
  width: 100%;
  padding-right: $base-unit * 2;
  padding-left: $base-unit * 2;
  margin-bottom: $base-unit * 3;
  border: .0625rem solid $primary;
  border-radius: $base-unit;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 2;
    width: 100%;
  }
  &::placeholder {
    color: $accent-3-light;
    font-size: $caption-font-size;
    line-height: $caption-line-height;
  }
}

.WaitingList_button {
  align-self: flex-end;
}