.Container {
  background-color: $primary;
  color: $white;
}

.Container_Inner {
  max-width: $base-unit * 114;
  margin-right: auto;
  margin-left: auto;
  background-color: #0e6061;
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-top: $base-unit * 5;
    padding-right: $base-unit * 2;
    padding-bottom: $base-unit * 6;
    padding-left: $base-unit * 2;
  }
  @media (min-width: $breakpoint-sm) {
    padding-top: $base-unit * 8;
    padding-bottom: $base-unit * 10;
    background-color: #0e6061;
  }
  @media (min-width: $breakpoint-md) {
    padding-bottom: $base-unit * 9;
  }
}

.Content {
  @media (min-width: $breakpoint-sm) {
    margin-right: auto;
    margin-left: auto;
    max-width: 38.75rem;
  }
}

.Columns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $base-unit * 4;
}

.Column {
  width: 50%;
  flex-basis: 50%;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.Column_Wrapper.Second {
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 5;
  }
}

.Column.First {
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-right: $base-unit;
  }
}

.Column.Second {
  @media (max-width: $breakpoint-sm - .0625em) {
    padding-left: $base-unit;
    align-items: flex-end;
    flex-direction: column;
    display: flex;
  }
  @media (min-width: $breakpoint-sm) {
    padding-left: $base-unit * 2;
  }
}

.Column.Third {
  flex-basis: 100%;
}

.Navigation {
  li {
    font-size: $body-font-size;
    line-height: $body-line-height;
    @media (min-width: $breakpoint-sm) {
      font-size: $subheader-font-size;
      line-height: $subheader-line-height;
    }
    a {
      color: $white;
      text-decoration: none;
    }
  }
}

.Social {
  @media (max-width: $breakpoint-sm - .0625em) {
    margin-bottom: $base-unit * 5;
  }
}

.SocialOnDesktopOnly {
  @media (max-width: $breakpoint-sm - .0625em) {
    display: none;
  }
}

.SocialOnMobileOnly {
  @media (min-width: $breakpoint-sm) {
    display: none;
  }
}

.Logo {
  display: block;
  width: 8.25rem;
  height: $base-unit * 2;
  margin-bottom: $base-unit * 2;
  background-image: url('./images/beanstalk-logo-white.svg');
  background-repeat: no-repeat;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 3;
  }
}

.SmallPrint {
  margin-bottom: 0;
  font-size: $small-font-size;
  line-height: $small-line-height;
  @media (min-width: $breakpoint-sm) {
    font-size: $body-font-size;
    line-height: $body-line-height;
  }
}

.Badges {
  @media (min-width: $breakpoint-sm) {
    display: flex;
  }
}

.Badge {
  display: block;
  width: 8.5rem;
  height: $base-unit * 5;
  background-repeat: no-repeat;
  &:first-of-type {
    @media (max-width: $breakpoint-sm - .0625em) {
      margin-bottom: $base-unit * 2;
    }
    @media (min-width: $breakpoint-sm) {
      margin-right: $base-unit * 3;
    }
  }
}

.AppleAppStore {
  background-image: url('./images/apple-app-store-badge.svg');
}

.GooglePlayStore {
  background-image: url('./images/google-play-store-badge.svg');
}