.SmallPrint {
  padding-right: $base-unit;
  padding-left: $base-unit;
  margin-bottom: $base-unit * 5;
  margin-right: auto;
  margin-left: auto;
  color: $accent-3;
  font-size: $caption-font-size;
  line-height: $caption-line-height;
  text-align: center;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 12;
    font-size: $body-font-size;
    line-height: $body-line-height;
  }
}