.ProviderTiles {
  justify-content: center;
  display: flex;
  &_Wrapper {
    flex-wrap: wrap;
    display: flex;
    max-width: $base-unit * 56;
    margin-right: -$base-unit / 2;
    margin-bottom: $base-unit * 4;
    margin-left: -$base-unit / 2;
    @media (min-width: $breakpoint-sm) {
      margin-right: auto;
      margin-bottom: $base-unit * 7;
      margin-left: auto;
    }
  }
  &_Tile {
    position: relative;
    flex-basis: calc(25% - #{$base-unit});
    display: flex;
    margin: $base-unit / 2;
    width: 4.125rem;
    border-radius: $base-unit;
    cursor: pointer;
    background-color: $white;
    box-shadow: $shadow-level-3;
    @media (min-width: $breakpoint-sm) {
      flex-basis: calc(25% - #{$base-unit * 2});
      width: $base-unit * 11;
      margin: $base-unit;
    }
    &::before {
      display: block;
      content: '';
      padding-top: 100%;
    }
    &___Active {
      box-shadow: 0 .5rem 1rem 0 rgba($secondary, .3);
    }
    &_Inner {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
  &_Logo {
    display: block;
  }
}