.ProviderTiles {
  flex-wrap: wrap;
  display: flex;
  &_Tile {
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: $base-unit * 11;
    height: $base-unit * 11;
    border-radius: $base-unit;
    background-color: $white;
    box-shadow: $shadow-level-3;
    cursor: pointer;
  }
}