.Iphone_screenshot___accountSetup {
  background-image: url('../homepage/images/homepage-kidstart-import-accounts-setup.png');
}

.Iphone_screenshot___homepage {
  background-image: url('../../images/screenshots/homepage.png');
}

.Iphone {
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $breakpoint-sm - .0625em) {
    margin-right: 0;
    margin-left: auto;
  }
}