.Sizer {
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 25em - .0625em) {
    max-width: $base-unit * 36;
  }
  @media (max-width: $breakpoint-sm - .0625em) {
    max-width: 23.4375rem;
  }
}

.Row {
  flex-direction: column;
  display: flex;
  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
}

.Row___SubSections {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - .0625em) {
    margin-bottom: $base-unit * 2;
  }
}

.Row___SubSections___BottomOffset {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - .0625em) {
    margin-bottom: 0
  }
}

.Column {
  @media (min-width: $breakpoint-sm) {
    width: 50%;
  }
}

.Column___Gap {
  @media (min-width: $breakpoint-md) {
    &:first-of-type {
      padding-right: 3.75rem;
    }
    &:last-of-type {
      padding-left: 3.75rem;
    }
  }
}

.Column___Graphic {
  @media (max-width: $breakpoint-sm - .0625em) {
    order: 0;
  }
}

.Column___Text {
  @media (max-width: $breakpoint-sm - .0625em) {
    order: 1;
  }
}