._Section {
  margin-bottom: $base-unit * 9;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 12;
  }
  @media (min-width: $breakpoint-md) {
    margin-bottom: $base-unit * 16;
  }
}

._Container {
  @media (min-width: $breakpoint-sm) {
    margin-left: $base-unit * 3;
    padding-top: $base-unit * 13;
  }
  @media (min-width: $breakpoint-md) {
    margin-left: $base-unit * 12;
    padding-top: $base-unit * 11;
  }
}

._Header {
  margin-bottom: $base-unit * 3;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 4;
  }
  @media (min-width: $breakpoint-md) {
    margin-bottom: $base-unit * 5;
  }
}

._Graphic {
  @media (max-width: $breakpoint-sm - .0625em) {
    display: none;
  }
}

.Column___First {
  @media (min-width: $breakpoint-sm) {
    width: 60%;
  }
}

.Column___Second {
  @media (min-width: $breakpoint-sm) {
    width: 40%;
  }
}