._Section {
  margin-bottom: $base-unit * 9;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 12;
  }
  @media (min-width: $breakpoint-md) {
    margin-bottom: $base-unit * 16;
  }
}

._Container {
  @media (min-width: $breakpoint-sm) {
    margin-left: $base-unit * 3;
    padding-top: $base-unit * 13;
  }
  @media (min-width: $breakpoint-md) {
    margin-left: $base-unit * 12;
    padding-top: $base-unit * 11;
  }
}

._Header {
  margin-bottom: $base-unit * 3;
  @media (min-width: $breakpoint-sm) {
    margin-bottom: $base-unit * 4;
  }
  @media (min-width: $breakpoint-md) {
    margin-bottom: $base-unit * 5;
  }
}

._Graphic {
  position: relative;
  @media (max-width: $breakpoint-sm - .0625em) {
    display: none;
  }
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    right: -$base-unit * 2;
  }
}

.Column___First {
  @media (min-width: $breakpoint-sm) {
    width: 50%;
  }
  @media (min-width: $breakpoint-md) {
    width: 55%;
  }
}

.Column___Second {
  @media (min-width: $breakpoint-sm) {
    width: 50%;
  }
  @media (min-width: $breakpoint-md) {
    width: 45%;
  }
}

._Point {
  @media (min-width: $breakpoint-sm) {
    padding-right: $base-unit * 2;
  }
  @media (min-width: $breakpoint-md) {
    padding-right: $base-unit * 4;
  }
}