.Iphone_screenshot___respondToMessage {
  background-image: url('./respondToMessage.png');
}

.Iphone_screenshot___sendInvite {
  background-image: url('../../images/screenshots/send-invite.png');
}

.Iphone {
  margin-right: auto;
  margin-left: auto;
}

.Image_contributors {
  margin-right: auto;
  margin-left: auto;
  width: 19rem;
  height: 14rem;
  background-size: contain;
  background-image: url('./contributors.png');
  @media (min-width: $breakpoint-sm) {
    width: 23.4375rem;
  }
}