.Graph {
  margin-bottom: $base-unit * 10;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
  @media (min-width: $breakpoint-sm) {
    padding-right: $base-unit * 5;
    padding-left: $base-unit * 5;
  }
  &_Heading {
    font-size: $body-font-size;
    font-weight: 700;
    line-height: $body-line-height;
    font-family: 'Quicksand', sans-serif;
    color: $secondary;
    text-align: center;
    @media (min-width: $breakpoint-sm) {
      font-size: $title-font-size;
      line-height: $title-line-height;
    }
  }
  &_Bars {
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    margin-bottom: $base-unit * 3;
    width: 100%;
    border-bottom: $base-unit / 4 solid $accent-3;
  }
  &_Bar {
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    padding-right: $base-unit / 2;
    padding-left: $base-unit / 2;
    width: 50%;
    height: $base-unit * 35;
    @media (max-width: $breakpoint-sm - .0625em) {
      max-width: 8.25rem;
    }
    @media (min-width: $breakpoint-sm) {
      width: 32.592592592592595%;
    }
    &_Plot {
      justify-content: center;
      display: flex;
      width: 100%;
      &___First {
        background-image: linear-gradient(180deg, #be6366 0%, #e09c9f 100%);
      }
      &___Second {
        background-image: linear-gradient(180deg, #6ec19c 0%, #32b67a 100%);
      }
    }
    &_Label {
      font-size: $body-font-size;
      font-weight: 700;
      line-height: $body-line-height;
      font-family: 'Roboto', sans-serif;
      @media (min-width: $breakpoint-sm) {
        font-size: $title-font-size;
        line-height: $title-line-height;
      }
      &___AnnualPercentageCharge {
        margin-bottom: $base-unit;
        &___First {
          color: #be6366;
        }
        &___Second {
          color: $secondary;
        }
      }
      &___TotalCharge {
        margin-top: $base-unit;
        color: $white;
      }
    }
  }
  &_Axis {
    justify-content: center;
    flex-direction: column;
    display: flex; 
    width: 100%;
    &_Providers {
      justify-content: center;
      display: flex;
      width: 100%;
    }
    &_Provider {
      padding-right: $base-unit / 2;
      padding-left: $base-unit / 2;
      width: 50%;
      color: $accent-3;
      font-size: $caption-font-size;
      font-weight: 700;
      line-height: $caption-line-height;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      @media (max-width: $breakpoint-sm - .0625em) {
        max-width: 8.25rem;
      }
      @media (min-width: $breakpoint-sm) {
        width: 32.592592592592595%;
        font-size: $body-font-size;
        line-height: $body-line-height;
      }
    }
  }
}