.Disclaimer {
  color: $secondary;
  font-size: $caption-font-size;
  line-height: $caption-line-height;
  @media (min-width: $breakpoint-md) {
    font-size: $body-font-size;
    line-height: $body-line-height;
  }
}